@model Shop_web_app.Models.Product

@using (Html.BeginForm("Add", "Warehouse", FormMethod.Post))
{
    @Html.ValidationSummary()

    <b>Name: </b> @Html.TextBoxFor(x => x.Name)
    <b>Description: </b>@Html.TextBoxFor(x => x.Description)
    <b>Category: </b>@Html.TextBoxFor(x => x.Category)
    <b>Price: </b>@Html.TextBoxFor(x => x.Price)
    <button type="submit">Send Form</button>
}
